.denim-img {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(-50%);

  &--wrapper {
      position: relative;
      padding-top: 80%;
  }
}

.denim-edit-btn {
  font-size: 20px;
}