.l-main {
  width: 800px;
  max-width: 100%;
  float: right;
}

.l-sidebar {
  float: left;
  max-width: 100%;
  width: 200px;
  position: fixed;

  @include bp(sp) {
    display: none;
  }
}

.l-wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  clear: both;
  height: 100vh;
}

.l-inner {
  width: 1000px !important;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 !important;
}
