.p-record {
  padding: 0px 10px 10px 10px;
  color: #333333 !important;

  &-user_name {
    padding: 15px 0 5px;
    line-height: 1;
  }

  &-img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: initial !important;
    &--wrapper {
      position: relative;
      padding-top: 70.25%;
      overflow: hidden;
    }
  }

  &-body {
    padding: 10px;
  }

  &-like {
    display: inline-block;
  }

  &-user_name {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    &:hover {
      color: #333333;
    }
  }

  &-text {
    line-height: 1.1;
  }

  &-date {
    font-size: 12px;
  }

  &__bland {
    a {
      color: #333333;
    }
  }
  
  &-place {
    font-size: 12px;
  }
}

.record-denim {
  margin-bottom: 0;
  font-size: 16px;
}